.datePicker {
  background-color: white;
  border-radius: @radius;
  padding: 48px;
  box-shadow: 4px 4px 4px 4px rgba(17, 52, 120, 0.2);
  position: relative;
  display: flex;
  justify-content: space-between;
  .react-calendar {
    font-family: 'Source Sans Pro', sans-serif;
    color: magenta;
    border: none;
  }
}
