h2,
ol {
  font-family: 'Source Sans Pro', sans-serif;
  color: @dark-violet;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

ol {
  list-style: none;
  border-left: 2px solid @base-blue;
  padding-left: 28px;
  font-weight: 400;
}

li {
  margin-bottom: 8px;
  font-size: 24px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
