@import './style/colors.less';
@import './style/normalizer.less';

/* Base */
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-10deg, @base-blue, @base-violet);
}

// Components
@import './components/Root.less';
@import './components/Today.less';
