@import './style/colors.less';
@import './style/normalizer.less';

/* Base */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-10deg, @base-blue, @base-violet);
}

#root {
  max-width: 700px;
  background-color: white;
  border-radius: 8px;
  padding: 48px;
}

// Components
@import './components/Root.less';
